form > label {
  display: flex;
  align-items: baseline;
  margin-bottom: 5px;
}

form > label > i {
  text-align: center;
  width: 30px;
}

form > span {
  display: block;
  margin: 0 0 10px 3px;
}

input, textarea {
  margin-bottom: 30px; 
}

input[type="text"] {
  max-width: 976px;
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: rgba(0,0,0,.3);
  padding: calc(var(--padding-normal) / 2) calc(var(--padding-normal) / 2);
  line-height: 20px;
}

/* Easy Markdown Editor CSS override */

.editor-toolbar,
.CodeMirror {
  background-color: rgba(0,0,0,.3);
}

.editor-toolbar button.active, .editor-toolbar button:hover {
  background-color: rgba(255,255,255,.2);
  color: #000
}

.editor-toolbar,
.EasyMDEContainer .CodeMirror {
  border: none
}

.editor-toolbar {
  border-bottom: 1px solid rgba(255,255,255,.2);
}

.editor-preview {
  background-color: #111;
}

.CodeMirror-cursor {
  border-left: 1px solid #fff;
  border-right: none;
  width: 0
}