/* Custom fonts */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&family=Roboto:wght@100;400;700&display=swap");

:root {
  --background-color: #e5e5e5;
  --background-color-dark: #0c0c0c;

  --text-white: #fff;
  --text-highlight: rgb(238, 137, 22);
  --text-highlight-dark: rgb(209, 124, 26);

  --max-width: 965px;
}

* {
  font-family: "Roboto", sans-serif;
}

code {
  font-family: "IBM Plex Mono", monospace;
  font-size: smaller;
  font-weight: bold;

  padding: 2px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.2);
}

html {
  background-color: var(--background-color);
}

body {
  margin: 0;
  height: 90%;
}

hr {
  max-width: 70%;
  border: 1px dashed black;
}

a {
  text-decoration: none;
}
a:hover {
  color: var(--text-highlight);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

header > h1 {
  margin: 2em;
  text-transform: uppercase;
}

h1 {
  width: fit-content;
  border-bottom: 5px solid teal;
}
h3 {
  width: fit-content;
  border-bottom: 2px solid var(--text-highlight);
}

.menu {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  background-color: var(--background-color-dark);

  width: var(--max-width);
  border-radius: 32px 8px;
  padding: 2em 0;
  margin: 0 0 2em;
}

.menu > li {
  margin: 0 10px;
}

.menu > li > a {
  color: var(--text-white);
  text-decoration: none;
}

.menu > .current-page > a {
  color: var(--text-highlight-dark);
}

.menu > li > a:hover {
  color: var(--text-highlight);
}

main {
  max-width: calc(var(--max-width) - 60px);
  margin: 0 auto 2em;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  padding: 10px 30px;
}

.center {
  display: block;
  width: fit-content;
  margin: 0 auto;
}

footer {
  width: 100%;
  background-color: var(--background-color-dark);
  max-width: var(--max-width);
  color: var(--text-white);
  min-height: 100px;

  border-radius: 8px 32px;
  margin: 20px auto 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer > p {
  margin: 0px;
}

footer > a {
  color: var(--text-white);
  background-color: rgba(255, 255, 255, 0.2);
  padding: 5px;
  margin-top: 10px;
  border-radius: 4px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-form > textarea,
.contact-form > input[type="text"] {
  max-width: 800px;
  width: 100%;
  padding: 0.5em;
  margin: 5px;

  min-height: 20px;
  border: 1px solid gray;
  border-radius: 4px;
}

.contact-form > label {
  max-width: 800px;
  width: 100%;
  padding: 0 0.5em;
  margin: 10px 5px 0;
}

.contact-form > input[type="text"] {
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) 50%;
  background-size: 12px 12px;

  background-image: url("../images/arobase.svg");
}

.contact-form > button {
  text-transform: uppercase;
  padding: 0.5em;
  display: block;
  max-width: 400px;
  width: 100%;
  margin-top: 20px;

  border-radius: 8px;
  border: none;
  color: var(--text-white);
  background: linear-gradient(90deg, #e66465, #9198e5);
}

.contact-form > button:hover {
  cursor: pointer;
  background: linear-gradient(90deg, #b95050, #767bb9);
}

blockquote {
  border-left: 4px solid gray;
  padding-left: 5px;
}

blockquote.center {
  margin-top: 5px;
  margin-bottom: 5px;
}

img.center ~ blockquote.center {
  width: 250px;
  font-size: smaller;
}

.custom-paragraph > p[align="left"],
.custom-paragraph > p[align="right"] {
  max-width: 70%;
}

.custom-paragraph > p[align="right"] {
  margin: 0 0 0 auto;
  text-align: left; /* since it's mirrored */

  /* compatibility */
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
